{% load i18n %}
<details data-filter-title="{{ title }}" open>
  <summary>{% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}</summary>
  <form method="get">
    {% for key, value in cl.params.items %}
      {% if key != spec.parameter_name %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endif %}
    {% endfor %}
    <input type="text" name="{{ spec.parameter_name }}" value="{{ spec.value|default_if_none:'' }}" style="width:90%">
    <button type="submit">تطبيق</button>
    {% if spec.value %}<a href="?{% for key, value in cl.params.items %}{% if key != spec.parameter_name %}{{ key|urlencode }}={{ value|urlencode }}&{% endif %}{% endfor %}">مسح</a>{% endif %}
  </form>
</details>
